:root {
  --1: #f8f8f8; /*almost white*/
  --2: #18332a; /*dark green*/
  --3: #99403f; /*dark pink*/
  --4: #dea8af; /*light pink*/
 
  /* Switched 5 and 6 */
  --6: #A54407; /* Dark Orange */
  --5: #F0AB81; /*medium orange*/
  --7: #FFE7D6; /*light orange*/
  
  --8: #404040; /* Dark grey */
}

.mainInfo {
  color: var(--6);
}

footer {
  background: var(--6);
}