  <footer>
    <a href="index.html#portfolio">Portfolio</a>
    <a href="index.html#about">About</a>
    <a href="index.html#services">Services</a>
    <a href="index.html#contact">Contact</a>
  </footer>