<nav>
    <a href="index.html#portfolio">Portfolio</a>
    <a id="aboutLink" href="index.html#about">About</a>
    <a id="servicesLink" href="index.html#services">Services</a>
    <a href="index.html#contact">Contact</a>
  </nav>